@model SesjaTreningowa

<h2>Edytuj Sesję</h2>

<form asp-action="Edytuj" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="DataRozpoczęcia"></label>
        <input name="dataRozpoczeciaDate" type="date" class="form-control" value="@Model.DataRozpoczęcia.ToString("yyyy-MM-dd")" />
        <input name="dataRozpoczeciaTime" type="time" class="form-control" value="@Model.DataRozpoczęcia.ToString("HH:mm")" />
        <span asp-validation-for="DataRozpoczęcia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataZakończenia"></label>
        <input name="dataZakonczeniaDate" type="date" class="form-control" value="@Model.DataZakończenia.ToString("yyyy-MM-dd")" />
        <input name="dataZakonczeniaTime" type="time" class="form-control" value="@Model.DataZakończenia.ToString("HH:mm")" />
        <span asp-validation-for="DataZakończenia" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Zapisz</button>
    <a asp-action="Lista" class="btn btn-secondary">Anuluj</a>
</form>
