   @model IEnumerable<WykonaneĆwiczenie>

<h2>Ćwiczenia dla Sesji</h2>

<table class="table">
    <thead>
        <tr>
            <th>Typ Ćwiczenia</th>
            <th>Liczba Powtórzeń</th>
            <th>Obciążenie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ćwiczenie in Model)
        {
            <tr>
                <td>@ćwiczenie.TypĆwiczenia.Nazwa</td>
                <td>@ćwiczenie.Powtórzenia</td>
                <td>@ćwiczenie.Obciążenie</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-route-id="@ViewBag.SesjaId" class="btn btn-success">Dodaj Ćwiczenie</a>
