@model TypĆwiczenia

<h2>Dodaj Typ Ćwiczenia</h2>

<form asp-action="Dodaj" method="post">
    <div class="form-group">
        <label asp-for="Nazwa" class="control-label"></label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Zapisz</button>
    <a asp-action="Lista" class="btn btn-secondary">Anuluj</a>
</form>
